$blue: #0032E3;
$white: #ffffff;
$light-blue: #5288F1;
$light-blue-text: #BCCBFE;
$gray: #6D6D6D;
$light-gray: #E0DADA;
$black: #000000;
$crypto-blue: #3159E8;
$green: #6FA52B;
$red: #E5442E;
$super-light-blue: #E8EEF8;
$light-black: rgba(0, 0, 0, 0.66);
$yellow: #efff00;
$light-white: rgba(255, 255, 255, 0.6);
